
.product-detail-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.product-image-detail {
  border-radius: 10px;
  height: 250px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}


.product-image-detail:hover {
  transform: scale(1.05);
}


.product-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.product-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 15px;
  text-transform: capitalize;
}


.product-price {
  font-size: 2rem;
  color: #28a745;
  margin-bottom: 20px;
  font-weight: 600;
}


.product-description {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
  margin-bottom: 20px;
}


.product-category {
  font-size: 1.15rem;
  color: #888;
  margin-bottom: 30px;
}


.product-back-btn {
  font-size: 1.1rem;
  padding: 12px 25px;
  font-weight: 600;
  border: 2px solid #007bff;
  background-color: transparent;
  color: #007bff;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.product-back-btn:hover {
  background-color: #007bff;
  color: #fff;
}
