
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .card-img-container {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .product-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  

  .card-body {
    text-align: center;
    padding: 1rem;
  }
  

  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
    color: #555;
  }
  

  .product-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
  }
  

  .btn-block {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
  }
  

  .loading-text {
    font-size: 2rem;
    color: #007bff;
  }
  